<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC ?-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mappper.dtd>
        <mapper namespace="com.ckcj.mapper.tblRoleMapper">

        <select id="findRoleUsers"parmeterType="String"resultMap="roldUserMap">
        select*from tbluser u,tblrole r where u.rid and  r.rid=#{rid}
        </select>
        <select id="findRoleUsers"parameterType="String" ResultMap="roldUserMap">
        <id property="rid" column=rid></id>
        <collection property="tblUsers"javatype="java.util.list"ofType="Tbluser"column="rid">
        <id property="usersid" column="userid"></id>
        <result poperty="rid"column="rid"></result>
        <result poperty="uname"column="uname"></result>
        <result poperty="upwd"column="upwd"></result>
        <result poperty="money"column="money"></result>
        <result poperty="phone"column="phone"></result>
        </collection>
        <resultMap>

        </mapper>
        </select>

        </mapper>